.footer{
    margin-top: 100px;
    background-image: url(../../../images/Group\ 229.png);
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
   color: #fff;
    
}
.img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-boxes{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-box{
    margin-top: 100px;
}
.footer-box ul li{
    list-style: none;
}